.--resource-card {
  margin-bottom: 2rem;
  .--card-body {
    padding: 2rem;
    padding-top: 1rem;
    .h5 {
      font-weight: bold;
    }
  }

  .category-image {
    position: relative;
  }
  .category-label {
    position: absolute;
    top: 2rem;
    left: 0;
    padding: 0.3rem 1rem;
    background: #fff;
    color: $body-color;
    text-transform: uppercase;
    font-weight: bold;
  }

  .category-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    .--card-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      color: #fff;

      > * {
        margin-bottom: 1.5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .category-cta {
        margin-top: auto;
      }
    }
  }

  &.--resource-card-article .category-card {
    background-color: theme-color("primary");
    color: #fff;
  }
  &.--resource-card-resources .category-card {
    background-color: theme-color("secondary");
    color: #fff;
  }
}
