.--content {
  .everest-forms {
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 600px;
    input[type="text"] {
      &.input-text {
        border-radius: 3px;
        border-color: theme-color("dark");
      }
    }
    input[type="date"] {
      &.input-date {
        border-radius: 3px;
        border-color: theme-color("dark");
      }
    }
    input[type="email"] {
      &.input-email {
        border-radius: 3px;
        border-color: theme-color("dark");
      }
    }
    .evf-field-container {
      .evf-frontend-row {
        label {
          font-weight: normal;
        }
      }
    }
    button[type="submit"] {
      background: theme-color("primary");
      color: #fff;
      border: none;
      text-transform: uppercase;
      border-radius: 0;
    }
  }
}
.--content {
  .everest-forms .everest-forms-part-button:active,
  .everest-forms .everest-forms-part-button:hover,
  .everest-forms button:active,
  .everest-forms button:hover,
  .everest-forms button[type="submit"]:active,
  .everest-forms button[type="submit"]:hover,
  .everest-forms input[type="submit"]:active,
  .everest-forms input[type="submit"]:hover {
    background: theme-color("primary");
    color: #fff;
  }
}

.yikes-mailchimp-container {
  max-width: 400px;
  margin: 5rem auto;
}
