// Form + listings
.container div.job_listings {

  margin: 2rem 0;

  // Full job search form
  .job_filters {
    background: transparent;

    // Search fields + button
    .search_jobs {
      display: grid;
      grid-gap: 20px;
      padding: 0;
      margin-top: 0;
      margin-bottom: 1rem;
      @media (min-width: 769px) {
        grid-template-columns: 2fr 1fr 1fr;
      }
      &:after, &:before {
        display: none;
      }
      div label {
        display: block;
      }
      input, select {
        border: 1px solid theme-color("dark");
        color: theme-color("dark");
        padding: 1rem;
      }
      div {
        &.filter_first, &.search_keywords, &.filter_last, &.search_location {
          width: initial;
          float: none;
          padding: 0;
          flex-grow: 1;
        }
        &.search_submit {
          padding-top: 0;
          display: flex;
          align-items: flex-end;
          & > * {
            width: 100%;
          }
          input {
            background: theme-color("dark");
            color: #fff;
            border: 1px solid theme-color("dark");
            text-transform: uppercase;
          }
        }
      }
    }

    // Filter checkboxes
    ul.job_types {
      background: transparent;
      margin: 1rem 0;
      border-top: none;

      // Checkbox + label
      li {
        padding-left: 0;
        padding-right: 2rem;
        border-right: none;
      }

      // Custom checkbox style
      label {
        position: relative;
        display: flex;
        align-items: center;
        input[type=checkbox] {
          width: 0;
          height: 0;
          opacity: 0;
          cursor: pointer;
        }
        .custom-check {
          height: 25px;
          width: 25px;
          margin-right: 10px;
          svg {
            fill: theme-color("primary");
          }
          .custom-check-fill {
            opacity: 0;
          }
        }
        &:hover {
          cursor: pointer;
          input ~ .custom-check {
            background-color: #f4f4f4;
          }
        }
        input:checked ~ .custom-check {
          .custom-check-fill {
            opacity: 1;
          }
        }
      }

    }

  }

  // TODO What is this?
  .showing_jobs {
    background: transparent;
    border-top: none;
    padding: 0;
    margin: 1rem 0;
  }

  // List of job search results
  ul.job_listings {

    margin: 1rem 0;

    // Indivitual job listing container
    li.job_listing {

      padding-left: 0;
      padding-right: 0;
      background: #f8f9fa;
      display: grid;
      grid-template-columns: 1fr;
      font-size: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: none;

      .part-time, .full-time, .freelance, .temporary, .permanent, .contract {
        color: theme-color("primary");
      }

      ul.meta {
        padding-left: 0;
      }

      // Individual job listing info
      > a {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "title"
        "salary"
        "location"
        "type"
        "date"
        ;
        padding: 1.5rem;
        border: 1px solid #ddd;
        width: 100%;

        @media (min-width: 769px) {
          grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
          grid-template-areas: "title salary location type date";
        }

        img.company_logo {
          display: none;
        }

        & > * {
          margin: 0;
          float: none;
          width: initial;
          text-align: center;
          font-size: 1rem;
          margin: 1rem 0;
          padding: 0;
          @media (min-width: 769px) {
            text-align: left;
          }

        }
        .salary,
        .location,
        .job-type,
        .date {
          font-size: .8rem;
          color: theme-color("primary");
        }
        .position {
          grid-area: title;
        }
        .salary {
          grid-area: salary;
        }
        .location {
          grid-area: location;
        }
        .job-type {
          grid-area: type;
        }
        .date {
          grid-area: date;
          font-size: .7rem;
        }
        .position {
          h3 {
            font-weight: 800;
          }
        }

      }

    }

  }


}

.custom_meta {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
  "job"
  "date"
  ;
  list-style: none;
  padding-left: 0;
  text-align: center;
  @media (min-width: 769px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "job date";
  }
  .job-type {
    grid-area: job;
  }
  .date {
    grid-area: date;
    font-size: .8rem;
    @media (min-width: 769px) {
      text-align: right;
    }
  }
}

.--location-icon {
  width: 20px;
  height: 20px;
  fill: theme-color("primary");
  margin-right: .1rem;
  position: relative;
  bottom: 3px;
}

.custom-job-listing-meta {
  display: grid;
  grid-gap: 20px;
  list-style: none;
  padding-left: 0;
  li {
    display: flex;
    align-items: center;
    &.location, &.job-type {
      background: theme-color("light");
    }
    svg {
      width: 35px;
      height: 35px;
      fill: #fff;
    }
    .meta-icon {
      background: theme-color("dark");
      padding: .7rem;
      margin-right: 1.5rem;
    }
    &.job-type {

    }
  }
}

// Single Job listing
div.single_job_listing {
  .job_description {
    line-height: 1.8;
    h2, h3 {
      font-weight: bold;
      margin-bottom: 1.5rem;
      margin-top: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
      &:first-child {
        margin-top: 0;
      }
    }
    h3 {
      font-size: 1.3rem;
    }
  }
  .job_application.application {
    margin-top: 3rem;
  }
}
