.circle-pagination {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  a,
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    margin-right: 0.5rem;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    &:hover {
      background: theme-color("primary");
      color: #fff;
      text-decoration: none;
    }
  }
}
