.circle-grid-panel {
  background-position: 50% 50%;
  background-size: cover;

  @media (min-width: 1200px) {
    min-height: 400px;
  }
}

.circle-grid-panel__intro {
  margin-top: 3rem;
  margin-bottom: 3rem;
  h1,
  h2,
  h3 {
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.circle-banner-tile {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 3px;
  background-image: url("../images/banner-tile-bg.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include media-breakpoint-up(md) {
    max-width: calc(50% - 2rem);
  }
  @include media-breakpoint-up(lg) {
    max-width: calc(25% - 2rem);
  }

  .circle-banner-tile__title {
    height: 100%;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 1.1rem;
    }
  }

  h1,
  h2,
  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .circle-banner-tile__cta {
    margin-top: 1rem;
  }
  .btn {
    background-color: #fff;
    color: currentColor;
  }
  &:nth-child(1) {
    background-position: 10% 20%;
  }
  &:nth-child(2) {
    background-position: 70% -20%;
  }
  &:nth-child(3) {
    background-position: 70% 105%;
  }
  &:nth-child(4) {
    background-position: -40% 90%;
  }
}

// TODO review previous styles below
.--panels {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.--panel {
  color: $white;
  padding: 3rem 2rem;
  background-size: auto 100%;
  font-size: 0.9rem;

  &.--candidates {
    background-color: var(--secondary);
    background-repeat: no-repeat;
    background-position: 0 50%;

    display: flex;
    justify-content: flex-end;

    .btn {
      color: var(--secondary);
    }
  }
  &.--clients {
    background-color: var(--tertiary);
    background-repeat: no-repeat;
    background-position: 105% 50%;
    @media (min-width: var(--breakpoint-sm)) {
      background-image: url("../images/panel-clients-bg.jpg");
    }
    .btn {
      color: var(--tertiary);
    }
  }

  & .content {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .--panels {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .--panel > div {
    max-width: 60%;
  }
  .--panel.--candidates {
    background-image: url("../images/panel-candidates-bg.jpg");
  }
  .--panel.--clients {
    background-image: url("../images/panel-clients-bg.jpg");
  }
}
