.profile {
  margin-top: 4rem;
  justify-content: center;

  .wp-block-column {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 300px;

    &:nth-child(2n) {
      flex-direction: column;
      justify-content: center;
    }

  }

  .wp-block-image img {
    border-radius: 50%;
  }

}
