$theme-colors: (
  "primary": #4db6c6,
  "secondary": #af8bc9,
  "secondary-light": #f4e6ff,
  "secondary-dark": #600f9a,
  "tertiary": #ff8db2,
  "brand": #6accb7,
  "dark": #898989,
  "info": #f8969e,
);
$enable-shadows: true;
$enable-responsive-font-sizes: true;
$body-color: #666;
$font-family-sans-serif: "Inter", sans-serif;
$navbar-light-color: #677e85;
$navbar-light-active-color: theme-color("primary");
$grid-gutter-width: 30px !default;

// Required
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./panels";
@import "./job-listings";
@import "./forms";
@import "./tables";
@import "./profile";
@import "./cards";
@import "./pagination";

// Bootstrap Breakpoints
// @include media-breakpoint-up(xs) { ... }
// @include media-breakpoint-up(sm) { ... } 576
// @include media-breakpoint-up(md) { ... } 768
// @include media-breakpoint-up(lg) { ... } 992
// @include media-breakpoint-up(xl) { ... } 1200

body {
  overflow-x: hidden;
  overflow-y: scroll;
  // line-height: 1.9;
}
@include media-breakpoint-up(xs) {
  .container {
    max-width: 1200px;
    &.--slim {
      max-width: 700px;
    }
  }
}

.--spaced {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

._emphasis {
  font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.5;
}
img {
  max-width: 100%;
  height: auto;
}

.btn {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 4px;
  border: 0;
  color: #fff;

  &.btn-light {
    color: #444;
  }

  &.btn-lg {
    padding: 1rem 2rem;
  }
}

.bg-row {
  display: inline-block;
  width: 100%;
}

// Icons
// Check out https://remixicon.com/ for usage
.remix {
  width: 50px;
  height: 50px;
  fill: currentColor;
}

.btn-info,
.btn-info:hover,
.btn-secondary,
.btn-secondary:hover,
.btn-tertiary,
.btn-tertiary:hover {
  color: $white;
}

.dropdown-menu {
  border-radius: 0;
  font-size: 0.9rem;
  border: none;
  @media (max-width: 1000px) {
    box-shadow: none;
  }
  .nav-item {
    border: none;
  }
}

button.navbar-toggler {
  border: none;
  margin-left: auto;
}

#menu-main-menu {
  margin-top: 2rem;
  .nav-item {
    border-top: 1px solid #ccc;
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
  }
  .dropdown-menu {
    margin: 0;
    padding: 0;
    .nav-item {
      border: none;
    }
  }
  @media (min-width: 1000px) {
    margin-top: 0;
    .nav-item {
      margin: 0.5rem;
      border-top: none;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
.--main-nav {
  font-size: 0.9rem;
  .nav-item {
    @include media-breakpoint-up(lg) {
      margin: 0.5rem;
    }
  }
  .nav-link,
  .dropdown-item {
    padding: 1rem;
  }
}

.--call-prompt {
  width: 100%;

  color: $body-color;

  @include media-breakpoint-up(lg) {
    width: initial;
  }
}
.--homepage-banner {
  background-image: url("../images/banner.jpg");
  background-position: 50% 50%;
  background-size: cover;
  min-height: 300px;
  color: $white;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  &.--page {
    min-height: 150px;
  }
}

.--homepage-banner-tiles {
  background-image: url("../images/banner-panels.jpg");
  color: $white;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-position: 50% 0;
}

// Footer menu_class
.menu-footer-menu-container {
  margin-bottom: 2rem;
  @media (min-width: 769px) {
    margin-bottom: 0;
  }
}

.--banner-search {
  input {
    border: none;
    padding: 1rem;
    color: $body-color;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-style: italic;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      font-style: italic;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      font-style: italic;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      font-style: italic;
    }
  }
  .btn {
    border: none;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.--feature {
  text-align: center;
  h2 {
    color: $body-color;
    font-weight: 800;
  }
  img,
  .wp-block-image img {
    max-width: 150px;
  }
}

.--pin-image {
  max-width: 150px;
  border-radius: 50%;
}

.--content .--title-separator {
  text-align: left;
  @media (min-width: 769px) {
    text-align: center;
    margin-bottom: 3rem;
  }
}
.--title-separator {
  display: block;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  @media (min-width: 769px) {
    border-bottom: 1px solid theme-color("dark");
    margin-bottom: 3rem;
    span {
      display: inline-block;
      background: #fff;
      position: relative;
      padding: 1rem;
      top: 1.2em;
      @media (min-width: 768px) {
        padding: 1rem 5rem;
        top: 1em;
      }
    }
  }
  &.--spaced {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}

.--content {
  max-width: 900px;
  line-height: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  p {
    margin-bottom: 2rem;
  }
  a {
    color: #6accb7;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.--grid-block {
  padding: 1.5rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  justify-content: center;
  padding-bottom: 3rem;
  text-align: center;

  @media (min-width: 769px) {
    grid-template-columns: minmax(200px, 300px) minmax(200px, 300px);
    text-align: left;
  }

  .-image img {
    border-radius: 50%;
    max-width: 200px;
    @media (min-width: 769px) {
      max-width: 100%;
    }
  }
  .-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 769px) {
      align-items: flex-start;
    }
  }
}

.diagram {
  width: 100%;
  max-width: 500px;
}

.team-member {
  text-align: center;
  > .profile-image,
  > .name,
  > .position {
    margin-bottom: 1rem;
  }
  > .position {
    font-size: 1rem;
  }
  > .cta {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .profile-image {
    max-width: 200px;
    margin-bottom: 2rem;
  }
  .name {
    font-size: 1.1rem;
    font-weight: bold;
    a {
      color: currentColor;
    }
  }
}

.profile-image {
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 50%;
  filter: grayscale(100%);
}

.team-profile {
  .image {
    text-align: center;
  }
  .position {
    text-align: center;
    font-weight: bold;
  }
}

.--title-bt {
  border-top: 6px solid #ccc;
  padding-top: 1rem;
  &.-paleblue {
    border-color: #7ed5f9;
  }
  &.-green {
    border-color: #6accb7;
  }
  &.-purple {
    border-color: #ae8ccc;
  }
  &.-grey {
    border-color: #687e85;
  }
  &.-yellow {
    border-color: #fbdb8b;
  }
  &.-mauve {
    border-color: #95b0df;
  }
}

#homepage-carousel {
  // Pevents content beneath jumping around
  // according to slide height. Only on desktop,
  // but better than nothing
  min-height: 300px;
}

.carousel__link {
  position: relative;
  width: 84px;
}
.carousel__arrow {
  position: absolute;
  top: 8rem;
  width: 24px;
  height: 24px;
}

.carousel__arrow--left {
  left: 0;
}
.carousel__arrow--right {
  right: 0;
}

.carousel-item {
  font-size: 0.8rem;
  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }
}

footer {
  .nav-link {
    display: inline-block;
  }
}
