.--homepage-banner {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
h2.banner-text {
  color: #fff;
}
